@model IEnumerable<BelarusLib.Models.Author>

@{
    ViewBag.Title = "Аўтары";
}

<section id="extra-features" class="extra-features bag-primary">
    <div class="container text-center">
        <header>
            <h2>Аўтары</h2>
            <br />
            <div class="text-center">
                <form method="get" id="redform" action=@Url.Action("SearchResultAuthors")>
                    <input type="text" name="SearchResult" placeholder="Пошук" id="SearchResult">
                    <button type="submit" class="butn butn-outline-dark">Пошук</button>
                </form>
            </div>
        </header>
        <div class="grid row">
            @foreach (var item in Model)
            {

                <a href=@Url.Action("Author", new { id = item.AuthorId }) class="item col-lg-4 col-md-6">
                    <div class="icon">
                        <img class="img-thumbnail" width="150" height="178" src="data:image/jpeg;base64, @Convert.ToBase64String(item.AuthorPhoto)" />
                    </div>
                    <h3 class="h5">@item.AuthorFullName</h3>
                    <p>@item.AuthorShortDescription</p>
                </a>
            }
        </div>
    </div>
</section>

