@model IEnumerable<BelarusLib.Models.Author>

@{
    ViewBag.Title = "Аўтары";
}

<section>
    <div class="container">        
            <h2> Результаты поиска: @ViewBag.SearchResult </h2>        
        <hr />
        @foreach (var item in Model)
        {
            <div class="block">
                <blockquote class="blockquote">
                    <div class="row">
                        @if (item.AuthorPhoto != null)
                        {
                            <div class="col-sm-2" style="margin-right: 10px">
                                <img class="img-thumbnail" width="200" height="240" src="data:image/jpeg;base64, @Convert.ToBase64String(item.AuthorPhoto)" />
                            </div>
                        }
                        <div class="col-md-9">
                            <h3>
                                @Html.ActionLink(item.AuthorFullName, "Author", new { id = item.AuthorId })
                            </h3>
                            <p class="mb-0">@item.AuthorShortDescription</p>                            
                        </div>
                    </div>
                </blockquote>
            </div>
        }
    </div>
</section>

