
@{
    ViewBag.Title = "Дапамога";
}

<section>
    <div class="container">
        <h2>Дапамога</h2>

        <p>Для прагляду біяграфіі пісьменніка у панэлі навігацыі націсніце на <b>Аўтары</b> або перайдзіце па <a href=@Url.Action("Authors", "Library")>спасылцы</a>. Затым выберыце патрэбнага вам пісьменніка і націсніце на яго.</p>
        <p>Для прагляду твораў па жанры у панэлі навігацыі націсніце на <b>Творы</b> або перайдзіце па <a href=@Url.Action("Index", "Library")>спасылцы</a>. Затым вылучыце патрэбны вам жанр і націсніце на яго.</p>
        <p>Для прагляду ўсіх твораў у панэлі навігацыі націсніце на <b>Творы</b> або перайдзіце па <a href=@Url.Action("Compositions", "Library")>спасылцы</a>.</p>
        <p>Для вырашэння тэстаў у панэлі навігацыі націсніце на <b>Тэсты</b> або перайдзіце па <a href=@Url.Action("Index", "Home")>спасылцы</a>. Затым Выбіраючы патрэбную вам віктарыну і націсніце <b> пачаць.</b></p>
</div>
</section>