
@{
    ViewBag.Title = "Дапамога";
}

<h2>Дапамога</h2>

<p>Для прагляду біяграфіі пісьменніка перайдзіце на  <a href=@Url.Action("Index", "Home")>галоўную старонку.</a>. Затым выберыце патрэбнага вам пісьменніка і націсніце на яго.</p>
<p>Для прагляду твораў па жанры перайдзіце на <a href=@Url.Action("Index", "Home")>галоўную старонку.</a>. Затым вылучыце патрэбны вам жанр і націсніце на яго.</p>
<p>Для прагляду ўсіх твораў у панэлі навігацыі націсніце на <b>Творы</b> або перайдзіце па <a href=@Url.Action("Compositions", "Home")>спасылцы</a>.</p>

