@using BelarusLib.Models

@{
    ViewBag.Title = "BelarusLib";
}
<section id="hero" class="hero hero-home bg-gray">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-6 text order-2 order-lg-1">
                <h1>BelarusLib &mdash; Спадчына беларускіх пісьменнікаў</h1>
                <p class="hero-text">
                    Спадчына беллоруских пісьменнікаў фармавалася на працягу стагоддзяў і перадавалася з пакалення ў пакаленне.
                    Нягледзячы на разбуральныя вайны, стыхійныя бедствы, грамадства прымнажала дасягненні продкаў, развівала навуку, літаратуру, мастацтва, падвышала свой культурна-адукацыйны,
                    прафесійны ўзровень. Сукупнасць матэрыяльных і духоўных дабротаў, створаных грамадствам, і значыць, нацыянальнае багацце.
                </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2"><img src="Content/img/Macbook.png" alt="..." class="img-fluid"></div>
        </div>
    </div>
</section>
<section id="extra-features" class="extra-features bag-primary">
    <div class="container text-center">
        <header>
            <h2>Больш вялікія магчымасці</h2>
            <div class="row">
                <p class="lead col-lg-8 mx-auto">На сайце вы знойдзеце:</p>
            </div>
        </header>
        <div class="grid row">
            <div class="item col-lg-4 col-md-6">
                <div class="icon"><img src="/Content/img/author-icon.png" width="64" height="64" /></div>
                <h3 class="h5">Аўтары</h3>
                <p>Біяграфіі аўтараў, іх цікавыя факты. Аўдыё і відэа матэрыялы аўтараў.</p>
            </div>
            <div class="item col-lg-4 col-md-6">
                <div class="icon"><img src="/Content/img/book-icon.png" width="64" height="64" /></div>
                <h3 class="h5">Творы</h3>
                <p>Творы, напісаныя беларускімі пісьменнікамі.</p>
            </div>
            <div class="item col-lg-4 col-md-6">
                <div class="icon"><img src="/Content/img/test-icon.png" width="64" height="64" /></div>
                <h3 class="h5">Тэсты</h3>
                <p>Тэсты, звязаныя з беларускімі пісьменнікамі і беларускай літаратурай.</p>
            </div>
        </div>
    </div>
</section>
<section id="about-us" class="about-us">
    <div class="container">
        <h2>Аб праекце</h2>
        <div class="row">
            <p class="lead col-lg-10">BelarusLib &mdash; інтэрнэт-бібліятэка беларускіх пісьменнікаў, якая ўключае матэрыялы аб беларускіх пісьменніках і іх творах. Праект уключае ў сябе адукацыйныя тэсты па беларускай літаратуры.</p>
        </div><a href=@Url.Action("About") class="butn butn-primary butn-shadow butn-gradient">Даведайцеся больш</a>
    </div>
</section>