@using BelarusLib.Models

@{
    ViewBag.Title = "BelarusLib";
}

<div class="jumbotron">
    <h1>BelarusLib</h1>
    <p class="lead">Бібліятэка беларускіх пісьменнікаў</p>    
</div>

<br />

<div class="pull-right">
    <form method="get" action="@Url.Action("SearchResult")">
        <input type="text" name="search" id="search" />
        <button type="submit" class="btn btn-default">Пошук</button>
    </form>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <h2>Аўтары</h2>
        <p>
            <div class="list-group">
                @foreach (Author a in ViewBag.Authors)
                {
                    <a href=@Url.Action("Author", "Home", new { id = a.AuthorId }) class="list-group-item list-group-item-action">@a.AuthorFullName</a>
                }
            </div>
        </p>        
    </div>
    <div class="col-md-6">
        <h2>Жанры</h2>
        <p>
            @foreach (Genre g in ViewBag.Genres)
            {
                <a href="@Url.Action("Compositions", "Home", new { id = g.GenreId })" class="list-group-item list-group-item-action">@g.GenreName</a>
            }
        </p>        
    </div>  
</div>