@model BelarusLib.Models.Fact

@{
    ViewBag.Title = "Выдаленне факта";
}

<section>
    <div class="container">
        <h1>Вы дакладна хочаце выдаліць факт: <b>@Model.FactText</b>?</h1>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <input type="submit" value="Выдаліць" class="btn btn-danger" />
                <a class="btn btn-dark" href="@Url.Action("DetailsAuthor", "Admin", new { id = ViewBag.AuthorId })">Назад</a>
            </div>
        }
    </div>
</section>


