@model BelarusLib.Models.Video

@{
    ViewBag.Title = "Выдаленне відэазапісы";
}

<section>
    <div class="container">
        <h1>Вы дакладна хочаце выдаліць відэазапіс: <b>@Model.VideoName</b>?</h1>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <input type="submit" value="Выдаліць" class="btn btn-danger" />
                <a class="btn btn-dark" href="@Url.Action("GetVideo", "Admin")">Назад</a>
            </div>
        }
    </div>
</section>


