@model BelarusLib.Models.ApplicationUser

@{
    ViewBag.Title = "Выдаленне карыстальніка";
}

<section>
    <div class="container">
        <h1>Вы дакладна хочаце выдаліць карыстальніка: <b>@Model.UserName</b>?</h1>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <input type="submit" value="Выдаліць" class="btn btn-danger" />
                <a class="btn btn-dark" href="@Url.Action("GetUser", "Admin")">Назад</a>
            </div>
        }
    </div>
</section>