@model BelarusLib.Models.Audio

@{
    ViewBag.Title = "Выдаленне аўдыёзапісы";
}

<h1>Вы дакладна хочаце выдаліць аўдыёзапіс: <b>@Model.AudioName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Выдаліць" class="btn btn-danger" />
        <a class="btn btn-default" href="@Url.Action("GetAudio", "Admin")">Назад</a>
    </div>
}

