@model BelarusLib.Models.Question

@{
    ViewBag.Title = "Выдаленне пытання";
}

<section>
    <div class="container">
        <h1>Вы дакладна хочаце выдаліць пытанне: <b>@Model.QuestionText</b>?</h1>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <input type="submit" value="Выдаліць" class="btn btn-danger" />
                <a class="btn btn-dark" href="@Url.Action("DetailsQuiz", "Admin", new { id = Model.QuizId})">Назад</a>
            </div>
        }
    </div>
</section>


