@model BelarusLib.Models.Quiz

@{
    ViewBag.Title = "Выдаленне тэсту";
}

<section>
    <div class="container">
        <h1>Вы дакладна хочаце выдаліць тэст: <b>@Model.QuizName</b>?</h1>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <input type="submit" value="Выдаліць" class="btn btn-danger" />
                <a class="btn btn-dark" href="@Url.Action("GetQuiz", "Admin")">Назад</a>
            </div>
        }
    </div>
</section>
