@model BelarusLib.Models.Audio

@{
    ViewBag.Title = "Выдаленне аўдыёзапісы";
}

<section>
    <div class="container">
        <h1>Вы дакладна хочаце выдаліць аўдыёзапіс: <b>@Model.AudioName</b>?</h1>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <input type="submit" value="Выдаліць" class="btn btn-danger" />
                <a class="btn btn-dark" href="@Url.Action("GetAudio", "Admin")">Назад</a>
            </div>
        }
    </div>
</section>

