@model BelarusLib.Models.Author

@{
    ViewBag.Title = "Выдаленне аўтара";
}

<h1>Вы дакладна хочаце выдаліць аўтара: <b>@Model.AuthorFullName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Выдаліць" class="btn btn-danger" />
        <a class="btn btn-default" href="@Url.Action("GetAuthor", "Admin")">Назад</a>
    </div>
}