@model IEnumerable<BelarusLib.Models.ApplicationUser>

@{
    ViewBag.Title = "Карыстальнікі";
}

<section>
    <div class="container">
        <h2>Карыстальнікі</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Лагiн")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Больш падрабязна", "DetailsUser", new { id = item.Id }) |
                        @Html.ActionLink("Выдаліць", "DeleteUser", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>

        <p>
            <a class="btn btn-dark" href=@Url.Action("Index")>Назад</a>
        </p>
    </div>
</section>
