
@{
    ViewBag.Title = "Дапамога";
}

<h2>Дапамога</h2>

<p>
    Для прысваення ролі іншаму карыстальніку націсніце на кнопку <b>Ролі</b> або перайдзіце па <a href=@Url.Action("GetRole", "Admin")> спасылцы </a>.
    Затым Выбіраючы патрэбную вам ролю і націсніце <b>Присвоить</b>. Пасля гэтага адзначце патрэбных вам карыстальнікаў і націсніце кнопку <b>Сохранить</b>.
</p>

<p>
    Для прагляду інфармацыі і маніпуляцыі дадзенымі аўтараў, націсніце на кнопку <b>Аўтары</b> або перайдзіце па <a href=@Url.Action("GetAuthor", "Admin")>спасылцы</a>.
</p>

<p>
    Для прагляду інфармацыі і маніпуляцыі дадзенымі жанраў націсніце, на кнопку <b>Жанры</b> або перайдзіце па <a href=@Url.Action("GetGenre", "Admin")>спасылцы</a>.
</p>

<p>
    Для прагляду інфармацыі і маніпуляцыі дадзенымі твораў аўтараў, націсніце на кнопку <b>Творы</b> або перайдзіце па <a href=@Url.Action("GetComposition", "Admin")>спасылцы</a>.
</p>

