
@{
    ViewBag.Title = "Дапамога";
}

<section>
    <div class="container">
        <h2>Дапамога</h2>

        <p>
            Для прысваення ролі іншаму карыстальніку націсніце на кнопку <b>Ролі</b> або перайдзіце па <a href=@Url.Action("GetRole", "Admin")> спасылцы </a>.
            Затым Выбіраючы патрэбную вам ролю і націсніце <b>Присвоить</b>. Пасля гэтага адзначце патрэбных вам карыстальнікаў і націсніце кнопку <b>Сохранить</b>.
        </p>

        <p>
            Для прагляду інфармацыі і маніпуляцыі дадзенымі аўтараў, націсніце на кнопку <b>Аўтары</b> або перайдзіце па <a href=@Url.Action("GetAuthor", "Admin")>спасылцы</a>.
        </p>

        <p>
            Для прагляду інфармацыі і маніпуляцыі дадзенымі жанраў націсніце, на кнопку <b>Жанры</b> або перайдзіце па <a href=@Url.Action("GetGenre", "Admin")>спасылцы</a>.
        </p>

        <p>
            Для прагляду інфармацыі і маніпуляцыі дадзенымі твораў аўтараў, націсніце на кнопку <b>Творы</b> або перайдзіце па <a href=@Url.Action("GetComposition", "Admin")>спасылцы</a>.
        </p>

        <p>
            Для прагляду інфармацыі і маніпуляцыі дадзенымі аўдыёзапісаў, націсніце на кнопку <b>Аўдыёзапісы</b> або перайдзіце па <a href=@Url.Action("GetAudio", "Admin")>спасылцы</a>.
        </p>

        <p>
            Для прагляду інфармацыі і маніпуляцыі дадзенымі відэазапісаў, націсніце на кнопку <b>Відэазапісы</b> або перайдзіце па <a href=@Url.Action("GetVideo", "Admin")>спасылцы</a>.
        </p>

        <p>
            Для стварэння тэсту ў панэлі админстратора націсніце на кнопку <b>Стварыць віктарыну</b> або перайдзіце па <a href=@Url.Action("CreateQuiz", "Admin")> спасылцы </a>.
            Затым увядзіце дадзеныя аб тэсце. Калі вы хочаце дадаць пытанне націсніце кнопку <b>Дадаць пытанне</b>. Для захавання тэсту націсніце кнопку
            <b>Стварыць</b>.
        </p>

        <p>
            Для прагляду ўжо гатовых тэстаў на панэлі адміністратара націсніце кнопку <b>Прагляд тэстаў</b> або перайдзіце па <a href=@Url.Action("GetQuiz", "Admin")> спасылцы </a>.
        </p>

        <p>
            Для выдалення тэсту ў спісе віктарын націсніце <b>Выдаліць</b> на цесцю, якую трэба выдаліць.
        </p>

        <p>
            Для рэдагавання тэсту ў спісе тэсту націсніце <b>Рэдагаваць</b> на цесцю, якую трэба рэдагаваць.
        </p>

        <p>
            Каб паглядзець дэталі тэсту ў спісе тэсту націсніце <b>Больш падрабязна</b> на патрэбным цесцю. 
        </p>

        <p>
            Для дадання пытання націсніце кнопку <b>Стварыць пытанне</b>, увядзіце дадзеныя і націсніце кнопку <b>Стварыць</b>.
        </p>

        <p>
            Для прагляду вынікаў тэсту націсніце кнопку <b>Вынікі</b>.
        </p>

        <p>
            Для дадання варыянту адказу для пэўнага пытання ў спісе пытанняў націсніце кнопку <b>Больш падрабязна </b> на патрэбным пытанні. Затым націсніце кнопку <b>Стварыць варыянт адказу</b>, увядзіце дадзеныя і націсніце кнопку
            <b>Стварыць</b>.
        </p>
    </div>
</section>